<header>
	<nav class="">
		<a id="nav-logo" href="#" class="">Fernando Rocha</a>
		<div id="menu" class="">
			<ul class="">
				<li class=""><a href="#">Sobre mi</a></li>
			</ul>
			<button
				id="menu-btn_login"
				style="width: 150px; padding-top: 5px; padding-bottom: 5px; border-radius: 10px; color: #fff"
				class=""
				routerLink="/auth/login"
			>
				Login
			</button>
		</div>
		<div id="menu-button" class="" (click)="openMenu()">
			<span class=""></span>
			<span class=""></span>
			<span class=""></span>
		</div>
	</nav>
</header>

<main>
	<router-outlet></router-outlet>
</main>
<footer style="background-color: #003c4c; height: 60px">
	<h1>Footer</h1>
</footer>
